<template name="about">
  <div class="page about">
    {{> nav title='About' black=true}}

    <div class="content-scrollable">
      <div class="bg-image about">
        <h1 class="title-about">
        </h1>
      </div>
      <div class="description-about">
        <p>Created for all you naggy halves who can't get your significant other to do shit!</p>

        <p>The Honey Dew List was made by Rachel Morgan as an example of a cross platform mobile app built in <a href="https://www.meteor.com" target="_blank" class="js-open">Meteor</a>. View the source on <a href="https://github.com/rachyllmorgan/HoneyDew_Meteor" target="_blank" class="js-open">GitHub</a>.</p>
      </div>

    </div>
    <a href="https://www.meteor.com" class="btn-primary js-open" target="_blank">Learn More</a>
  </div>
</template>