<template name="home">
  <div class="page home">

    {{>nav title='The Honey Dew List' black=true}}

    <div class="content-scrollable">
      <div class="bg-image home">
        <h1 class="title-home"></h1>
        <span class="arrow"></span>
      </div>

      <div class="callout-news">
        <span class="title-callout">DEWed!</span>
        {{latestNews.text}}
      </div>

      <h2 class="list-title">What's To-Dew?</h2>
      <div>
        <ul>
          {{#each lists}}
            {{> whats_to_dew}}
          {{/each}}
        </ul>
      </div>
      <a href="{{pathFor 'whats_to_dew'}}" class="btn-primary">See what you can DEW!</a>
    </div>

  </div>
</template>