<template name="list">
  <div class="page lists">
    {{> nav title='Lists' black=true}}

    <div class="content-scrollable">
      <div class="list-lists">
        {{#each this}}
          {{#if highlighted}}
            {{> listItem list=this size='large'}}
          {{else}}
            {{> listItem list=this size='small'}}
          {{/if}}
        {{/each}}
          <div class="wrapper-message">
            <div class="icon-sync"></div>
            <div class="title-message">Loading</div>
          </div>
      </div>
    </div>

  </div>
</template>