<template name="feed">
  <div class="page whats-to-dew">

    {{>nav title="What's To Dew?"}}

    <div class="content-scrollable">
      <div class="list-events {{#unless ready}}loading{{/unless}}">
        {{#if ready}}
          {{#each events}}
            {{> event}}
          {{else}}
            <div class="wrapper-message">
              <div class="title-message">Nothing to Dew here!</div>
<!--               <div class="subtitle-message">Share that you made a recipe and it will show up here.</div> -->
            </div>
          {{/each}}
        {{else}}
          <div class="wrapper-message">
            <div class="icon-sync"></div>
            <div class="title-message">Loading</div>
          </div>
        {{/if}}
      </div>
    </div>
  </div>
</template>